<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head th:fragment="user_head">
    <!-- Required meta tags -->

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- favicon -->
    <link rel="icon" type="image/png" href="/images/favicon.png">
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" th:href="@{/vendors/bootstrap/css/bootstrap.min.css}" media="all">
    <!-- Fonts Awesome CSS -->
    <link rel="stylesheet" type="text/css" th:href="@{/vendors/fontawesome/css/all.min.css}">
    <!-- jquery-ui css -->
    <link rel="stylesheet" type="text/css" th:href="@{/vendors/jquery-ui/jquery-ui.min.css}">
    <!-- modal video css -->
    <link rel="stylesheet" type="text/css" th:href="@{/vendors/modal-video/modal-video.min.css}">
    <!-- light box css -->
    <!--    <link rel="stylesheet" type="text/css" th:href="@{vendors/lightbox.dist/css/lightbox.min.css}">-->
    <!-- slick slider css -->
    <link rel="stylesheet" type="text/css" th:href="@{/vendors/slick/slick.css}">
    <link rel="stylesheet" type="text/css" th:href="@{/vendors/slick/slick-theme.css}">
    <!-- google fonts -->
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,600;0,700;0,800;1,400&amp;family=Raleway:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,400&amp;display=swap" rel="stylesheet">
    <!-- Custom CSS -->
    <link rel="stylesheet" type="text/css" th:href="@{/css/style.css}">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <!--    <link rel="stylesheet" type="text/css" th:href="@{admin_style/css/style.css}">-->
    <!--    <link rel="stylesheet" th:href="@{admin_style/css/bootstrap.min.css}" media="all">-->
    <!--    &lt;!&ndash; Fonts Awesome CSS &ndash;&gt;-->
    <!--    <link rel="stylesheet" type="text/css"th:href="@{admin_style/css/css/all.min.css}">-->
    <title>Travele </title>
</head>
<body>
<header id="masthead" class="site-header header-primary" th:fragment="user_nav">
    <!-- header html start -->
    <div class="bottom-header">
        <div class="container d-flex justify-content-between align-items-center">
            <div class="site-identity">
                <h1 class="site-title">
                    <a th:href="@{'/home'}">
                        <img class="white-logo" th:src="|@{/images/}travele-logo.png|" alt="logo">
                    </a>
                </h1>
            </div>
            <div class="main-navigation d-none d-lg-block">
                <nav id="navigation" class="navigation">
                    <ul>
                        <li class="menu-item-has-children ">
                            <a th:href="@{'/home'}">Trang chủ</a>
                        </li>

                        <li class="menu-item-has-children aaa">
                            <a href="#">Địa điểm du lịch</a>
                            <ul>
                                <li class="menu-item-has-children aaa">
                                    <a href="#">Du lịch miền bắc</a>
                                    <ul>
                                        <li th:each="typeMB : ${lstTypeTour}">
                                            <a th:href="@{'/filterByType/' + ${typeMB.typeTourId}}" th:if="${typeMB.region=='1'}"><p th:text="${typeMB.nameTypeTour}"></p></a>
                                        </li>

                                    </ul>
                                </li>

                                <li class="menu-item-has-children aaa">
                                    <a href="#">Du lịch miền trung</a>
                                    <ul>
                                        <li th:each="typeMB : ${lstTypeTour}">
                                            <a th:href="@{'/filterByType/' + ${typeMB.typeTourId}}" th:if="${typeMB.region=='2'}"><p th:text="${typeMB.nameTypeTour}"></p></a>
                                        </li>
                                    </ul>
                                </li>
                                <li class="menu-item-has-children aaa">
                                    <a href="#">Du lịch miền nam</a>
                                    <ul>
                                        <li th:each="typeMB : ${lstTypeTour}">
                                            <a th:href="@{'/filterByType/' + ${typeMB.typeTourId}}" th:if="${typeMB.region=='3'}"><p th:text="${typeMB.nameTypeTour}"></p></a>
                                        </li>
                                    </ul>
                                </li>

                            </ul>
                        </li>
                    </ul>
                </nav>
            </div>

        </div>
    </div>
    <div class="mobile-menu-container"></div>
</header>
<footer id="colophon" class="site-footer footer-primary" th:fragment="user_footer">
    <div class="top-footer">
        <div class="container">
            <div class="row">
                <div class="col-lg-3 col-md-6">
                    <aside class="widget widget_text">
                        <div class="award-img">
                            <a href="#"><img th:src="|@{/images/}logo7.png|" alt=""></a>
                            <a href="#"><img th:src="|@{/images/}logo5.png|" alt=""></a>
                        </div>
                    </aside>
                </div>
                <div class="col-lg-3 col-md-6">
                    <aside class="widget widget_text">
                        <h3 class="widget-title">Về chúng tôi</h3>
                        <div class="textwidget widget-text">
                            Travele
                            <ul>
                                <li>
                                    <a href="#">
                                        <i class="fas fa-phone-alt"></i>
                                        0287777723
                                    </a>
                                </li>
                                <li>
                                    <a href="#">
                                        <i class="fas fa-envelope"></i>
                                        <span class="__cf_email__" data-cfemail="8deee2e0fdece3f4cde9e2e0ece4e3a3eee2e0">travele@gmail.com</span>
                                    </a>
                                </li>
                                <li>
                                    <i class="fas fa-map-marker-alt"></i>
                                    462 Đường Bưởi , Vĩnh Phúc, Hà Nội
                                </li>
                            </ul>
                        </div>
                    </aside>
                </div>

            </div>
        </div>
    </div>

</footer>
</body>
</html>