<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:fragment="html_head">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width , initial-scale = 1,shrink-to-fit=no" />
    <link rel="icon" type="image/png" href="../admin_style/images/favicon.png">
    th:src="@{admin_style
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" th:href="@{/admin_style/css/bootstrap.min.css}" media="all">
    <!-- Fonts Awesome CSS -->
    <link rel="stylesheet" type="text/css" th:href="@{/admin_style/css/all.min.css}">
    <!-- google fonts -->
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,600;0,700;0,800;1,400&amp;family=Raleway:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,400&amp;display=swap" rel="stylesheet">
    <!-- Custom CSS -->
    <link rel="stylesheet" type="text/css" th:href="@{/admin_style/css/style.css}">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css" rel="stylesheet">
    <link
            rel="stylesheet"
            href="https://cdnjs.cloudflare.com/ajax/libs/selectize.js/0.15.2/css/selectize.default.min.css"
            integrity="sha512-pTaEn+6gF1IeWv3W1+7X7eM60TFu/agjgoHmYhAfLEU8Phuf6JKiiE8YmsNC0aCgQv4192s4Vai8YZ6VNM6vyQ=="
            crossorigin="anonymous"
            referrerpolicy="no-referrer"
    />


    <style>
        .alert {
            padding: 20px;
            background-color:#00d084;
            color: white;
            width:300px;
            float:right;
            z-index: 1;

        }
        .closebtn {
            margin-left: 15px;
            color: white;
            font-weight: bold;
            float: right;
            font-size: 22px;
            line-height: 20px;
            cursor: pointer;
            transition: 0.5s;
        }
        .closebtn:hover {
            color: black;
        }
    </style>
    <title>[[${pageTitle}]]</title>
</head>
<body>
<div class="dashboard-header sticky-header" th:fragment="nav_head">
    <div class="content-left  logo-section pull-left">
        <h1><a th:href="@{'/home'}"><img th:src="|@{/admin_style/images/}logo.png|" alt=""></a></h1>
    </div>
    <div class="heaer-content-right pull-right">
        <div class="search-field">
            <form>
                <div class="form-group">
                    <div class="alert" th:if="${success}">
                        <span class="closebtn" onclick="this.parentElement.style.display='none';">&times;</span>
                        <strong th:text="${success}"></strong>
                    </div>
                    <!--                    <input type="text" class="form-control" id="search" placeholder="Search Now">-->
                    <!--                    <a href="#"><span class="search_btn"><i class="fa fa-search" aria-hidden="true"></i></span></a>-->
                </div>
            </form>
        </div>
        <div class="dropdown">
            <a class="dropdown-toggle" data-toggle="dropdown">
                <div class="dropdown-item">
                    <i class="far fa-bell"></i>
<!--                    <span class="notify"></span>-->
                </div>
            </a>
            <div class="dropdown-menu notification-menu">
                <h4> </h4>
                <ul>
                    <li>
                        <a href="#">
                            <div class="list-img">
<!--                                <img src="assets/images/comment4.jpg" alt="">-->
                            </div>
                            <div class="notification-content">
                                <p>You have a notification.</p>
                                <small>2 hours ago</small>
                            </div>
                        </a>
                    </li>
                    <li>
                        <a href="#">
                            <div class="list-img">
                                <img src="assets/images/comment5.jpg" alt="">
                            </div>
                            <div class="notification-content">
                                <p>You have a notification.</p>
                                <small>2 hours ago</small>
                            </div>
                        </a>
                    </li>
                    <li>
                        <a href="#">
                            <div class="list-img">
                                <img src="assets/images/comment6.jpg" alt="">
                            </div>
                            <div class="notification-content">
                                <p>You have a notification.</p>
                                <small>2 hours ago</small>
                            </div>
                        </a>
                    </li>
                </ul>
                <a href="#" class="all-button">See all messages</a>
            </div>
        </div>
        <div class="dropdown">
            <a class="dropdown-toggle" data-toggle="dropdown">
                <div class="dropdown-item profile-sec">
<!--                    <img th:src="|@{/admin_style/images/}comment.jpg|" alt="">-->
                    <span th:text="${session.user.username}"> </span>

                </div>
            </a>
        </div>
    </div>
</div>
<div class="dashboard-navigation" th:fragment="menu">
    <!-- Responsive Navigation Trigger -->
    <div id="dashboard-Navigation" class="slick-nav"></div>
    <div id="navigation" class="navigation-container">
        <ul>
            <!--            <li class="active-menu"><a th:href="@{'/subAdmin/home'}"><i class="far fa-chart-bar"></i>Dashboard</a></li>-->
            <li><a th:href="@{'/admin/company'}"><i class="fa-solid fa-users"></i>Danh sách công ty</a></li>
<!--            <li><a  th:href="@{'/subAdmin/edit-Profile/' + ${session.user.company.companyId}}"><i class="fas fa-user-tie"></i>Thông tin công ty</a></li>-->
<!--            <li><a th:href="@{'/account/create'}"><i class="fas fa-sign-out-alt"></i>Đăng kí tài</a></li>-->
            <li><a th:href="@{'/account/create'}"><i class="fa-solid fa-circle-plus"></i>Đăng kí tài khoản</a></li>
            <li><a th:href="@{'/admin/destination'}"><i class="fas fa-umbrella-beach"></i>Quản lí địa điểm</a></li>
            <li><a th:href="@{'/logout'}"><i class="fas fa-sign-out-alt"></i>Đăng xuất</a></li>

        </ul>
    </div>
</div>
</body>
</html>